body {
  text-align: -webkit-center;
}

main {
  width: 80%;
}

#mission {
  margin-bottom: 50px;
}

#mission h1 {
  font-size: 72px;
  padding-bottom: 10px;
}

#mission p {
  padding: 20px;
  font-size: 25px;
}

#mission button {
  font-size: 25px;
  padding: 20px;
  margin: 20px;
  outline: none;
}

#mission button {
  background-color: rgb(0, 131, 201);
  color: white;
  padding: 20px 40px;
  font-size: x-large;
  border-radius: 50px;
  border: none;
  box-shadow: 5px 5px 5px lightgrey;
}

.team-member {
  margin: 40px;
  display: flex;
  justify-content: center;
}

.profile-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  padding-right: 30px;
}

.member-description {
  float: right;
  max-width: 550px;
}

.member-description h2 {
  font-size: 38px;
  padding: 20px;
}

.member-description p {
  font-size: 24px;
  padding: 20px;
}

.member-description img {
  width: 50px;
  padding: 1px;
}


footer {
  padding: 25px;
}

@media screen and (max-width:1100px) {
  main {
    width: 100%;
  }

  #mission {
    width: 80%;
  }

  .profile-img {
    width: 250px;
    height: 250px;
  }
  
  .member-description h2 {
    font-size: 30px;
    padding: 10px;
  }
  
  .member-description p {
    font-size: 20px;
    padding: 10px;
  }
  
  .member-description img {
    width: 40px;
  }
}

@media screen and (min-width: 818px) {
  #mission p {
    max-width: 750px;
  }
}
