*{
  box-sizing: border-box;
}

main{
  margin: 0 auto;
  max-width: 960px;
  height: 85%;
}

/* body {
}
table {
  margin: auto;
  margin-top: 5%;
  width: 80%;
  border-radius: 1px;
}
#quoteTitle {
  width: 40%;
}

table th:nth-child(1) {
  width: 10%;
}
table th:nth-child(4) {
  width: 5%;
}
table th:nth-child(3) {
  width: 20%;
} */

#quote-archive {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#quote-archive td, #quote-archive th {
  border: 1px solid black;
  padding: 8px;
}

#quote-archive td {
  text-align:center;
}

#quote-archive tr:nth-child(odd){background-color: #f2f2f2;}

#quote-archive tr:hover {background-color: #ddd;}

#quote-archive th {
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight:bolder;
  text-align: left;
  background-color: white;
  color:black;
}