* {
  font-family: Helvetica, Arial, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

button:hover{
  cursor: pointer;
}

a {
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  color: black;
}

a:visited {
  color: black;
}

header {
  height: 100px;
  padding-bottom: 30px;
}

header h1 {
  float: left;
  font-weight: bolder;
  font-size: 32px;
  padding: 20px;
}

header ul {
  float: right;
  padding: 25px;

}

header li {
  display: inline;
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
}

header a:visited {
  color: rgb(0, 0, 0);
}

header a:hover {
  color: rgb(0, 131, 201);
  text-shadow: 0 0 0.5px rgb(0, 131, 201), 0 0 0.5px rgb(0, 131, 201);
}

.current-page {
  text-decoration: underline;
  font-weight: bolder;
}

footer {
  text-align: center;
}

footer div {
  display: inline;
}

footer img {
  width: 28px;
}

@media screen and (max-width: 717px) {
  header li {
    font-size: 15px;
    padding: 5px;
    font-weight: bold;
  }

  header ul {
    padding-right: 10px;
  }

  header h1 {
    font-size: 25px;
    padding-right: 5px;
    padding-left: 15px;
  }
}

.title:hover {
  color: black;
}

.title{
  text-decoration: none;
  color: black;
}